.two-factor-wrap {

}

.two-factor {
    width: 75%;
}

.application-passwords tfoot {
	display: none;
}

.two-factor-provider-label {
	margin: 0;
	line-height: 1;
}

.application-passwords table,
.security-keys table {
	margin: 1em 0;
}

/*.two-factor-details {
    font-style: italic;
}*/

div.two-factor-details > p {
    font-size: 13px !important;
}

.two-factor-table .column-method { 
    width: 18%;
}

.two-factor-table .column-details { 
    width: 82%;
}

.two-factor-column-details {
    font-style: italic;
}
