.two-factor-wrap {

}

.two-factor {
    width: 97%;
}

@media screen and (max-width: 782px) {
    .two-factor {
        width: 100%;
    }
}

.two-factor-provider-label {
	margin: 0;
	line-height: 1;
}

.form-table .two-factor-table th {
    font-weight: initial;   
}

div.two-factor-details > p {
    font-size: 13px !important;
}

.two-factor-table .column-method { 
    width: 18%;
}

.two-factor-table .column-details {
    width: 82%;
}

.two-factor-column-details {
    font-style: italic;
    margin-bottom: .2em;
}

.two-factor-flex-wrap {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.two-factor-flex-wrap > * {
    flex: 1 100%;
}

.two-factor-flex-miniwrap {
    display: flex;
    justify-content: space-between;
    padding: 0.6em 0em;
}

.two-factor-flex-miniwrap > div {
    margin:1em;
}

.two-factor-flex-imgwrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3em;
}

.two-factor-flex-imgwrap > div {
    margin:1em;
}

.two-factor-flex-miniwrap input {
    width: 75%;
}

p + div.two-factor-flex-miniwrap {
    padding: 1.5em 0em;
}

#two_factor-totp_authcode input {
    width: 75%;
}

.two-factor-submit button {
    width: 25%;
}

span.setup a {
    color: rgb(71, 127, 50);
}

span.setup a:hover {
    color: rgb(95, 165, 67);
}

span.generate a {
    color: rgb(71, 127, 50);
}

span.generate a:hover {
    color: rgb(95, 165, 67);
}
