.two-factor-wrap {

}

.two-factor {

}

/*.two-factor-table .wp-list-table {
	width: 70%;
}*/

#two-factor-profile-option {

}

.application-passwords tfoot {
	display: none;
}

.two-factor-provider-label {
	margin: 0;
	line-height: 1;
}

.application-passwords table,
.security-keys table {
	margin: 1em 0;
}

.two-factor-details {
    font-style: italic;
}

.two-factor-table .column-method { 
    width: 20%;
}

.two-factor-table .column-details { 
    width: 80%;
}

/*.two-factor-verification .two-factor-introduction {
	margin-bottom:1em;
}*/
